<%- include("header") -%>
    
<div class="box" id = "heading">
    <h1><%= listTitle %></h1>
</div>

<div class="box">
    
    
        <% newListItems.forEach(element => { %>
          <form action="/delete" method="post">
            <div class="item">
              <input type="checkbox" name="deleteItem" value="<%=element._id%>" onChange="this.form.submit()">
              <p> <%= element.itemName %> </p>   
              <input type="hidden" name="listName" value="<%= listTitle %>">

              

            </div> 
          </form>  
          
        
        
    <%  });  %>

           
             
   
    
    <form class="item" action="/" method="post">
    
      <input type="text" name ="newItem" placeholder="Enter new item" autocomplete="off">
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
      
      
    </form>


         
          
          
     
</div>

<%- include("footer") -%>

    
  
    

    
    
    
